<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Items</title>
    <link rel="stylesheet" href="{% static 'blog.css' %}">

    <style>

html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            display: flex;
            flex-direction: column;
        }

        .container {
            flex: 1;
            padding: 20px;
        }
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
        }

        .custom-footer {
            background-color: #ff6600;
            /* Orange background color */
            color: #000;
            /* Black text color */
            text-align: center;
            padding: 40px 0 20px 0;
            /* Adjust the top padding value for more space */
            font-family: Arial, sans-serif;
        }

        .footer-content {
            max-width: 1200px;
            margin: 0 auto;
            padding: 10px;
        }

        .footer-links {
            margin: 10px 0;
        }

        .footer-links a {
            color: #000;
            /* Black color for links */
            text-decoration: none;
            margin: 0 15px;
            font-weight: bold;
        }

        .footer-links a:hover {
            text-decoration: underline;
            /* Underline on hover */
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Our Blog</h1>
        <div class="blog-list">
            {% for blog in blogs %}
            <div class="blog-item">
                <h2>{{ blog.title }}</h2>
                {% if blog.image %}
                <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                {% endif %}
                <p>{{ blog.description|safe }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <footer class="custom-footer">
        <div class="footer-content">
            <p>Copyright © 2024 MADHURAM KITCHENS - All Rights Reserved.</p>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms and Conditions</a>
            </div>
        </div>
    </footer>

</body>

</html> -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Madhuram Kitchens - Authentic Andhra Style Catering Services, Hyderabad
    </title>
     <!-- <link rel="manifest" href="site.webmanifest"> -->
     <link rel="shortcut icon" type="image/x-icon" href="static/images/madhuram-kitchens-logo.png" height="100" width="200">
     <!-- Place favicon.ico in the root directory -->
 
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Monoton&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Miss+Fajardose&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{% static 'css/open-iconic-bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/owl.theme.default.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"
          ><img
            src="static/images/madhuram-kitchens-logo.png"
            alt="logo"
            width="140px"
        /></a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span>
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="{% url 'index' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'about' %}" class="nav-link">About</a>
            </li>
            <!-- <li class="nav-item">
            <a href="menu.html" class="nav-link">Menu</a>
          </li> -->
            <li class="nav-item active">
              <a href="{% url 'blog_items' %}" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'contact' %}" class="nav-link">Contact</a>
            </li>
            <!-- <li class="nav-item cta">
            <a href="reservation.html" class="nav-link">Book a table</a>
          </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->

    <section
      class="hero-wrap hero-wrap-2"
      style="background-image: url('static/images/bg_3.jpg')"
      data-stellar-background-ratio="0.5"
    >
      <div class="overlay"></div>
      <div class="container">
        <div
          class="row no-gutters slider-text align-items-end justify-content-center"
        >
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Our Blog</h1>
            <p class="breadcrumbs">
              <span class="mr-2"
                ><a href="index.html"
                  >Home <i class="ion-ios-arrow-forward"></i></a
              ></span>
              <span>Blog <i class="ion-ios-arrow-forward"></i></span>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row">
          {% for blog in blogs %}
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a
                href="#"
                class="block-20"
                style="background-image: url('{{ blog.image.url }}');"
              >
              </a>
              <div class="text pt-3 pb-4">
                <div class="meta">
                  <!-- <div><a href="#">June 25, 2019</a></div>
                  <div><a href="#">Admin</a></div> -->
                </div>
                <h3 class="heading">
                  <a href="#">{{blog.title}}</a>
                </h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <!-- <a href="#" class="float-right meta-chat"
                    ><span class="icon-chat"></span> 3</a
                  > -->
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a
                href="#"
                class="block-20"
                style="background-image: url('static/images/image_2.jpg')"
              >
              </a>
              <div class="text pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">June 25, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading">
                  <a href="#">Taste the delicious foods in Asia</a>
                </h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"
                    ><span class="icon-chat"></span> 3</a
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a
                href="#"
                class="block-20"
                style="background-image: url('static/images/image_3.jpg')"
              >
              </a>
              <div class="text pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">June 25, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading">
                  <a href="#">Taste the delicious foods in Asia</a>
                </h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"
                    ><span class="icon-chat"></span> 3</a
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a
                href="#"
                class="block-20"
                style="background-image: url('static/images/image_4.jpg')"
              >
              </a>
              <div class="text pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">June 25, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading">
                  <a href="#">Taste the delicious foods in Asia</a>
                </h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"
                    ><span class="icon-chat"></span> 3</a
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a
                href="#"
                class="block-20"
                style="background-image: url('static/images/image_5.jpg')"
              >
              </a>
              <div class="text pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">June 25, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading">
                  <a href="#">Taste the delicious foods in Asia</a>
                </h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"
                    ><span class="icon-chat"></span> 3</a
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a
                href="#"
                class="block-20"
                style="background-image: url('static/images/image_6.jpg')"
              >
              </a>
              <div class="text pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">June 25, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading">
                  <a href="#">Taste the delicious foods in Asia</a>
                </h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"
                    ><span class="icon-chat"></span> 3</a
                  >
                </p>
              </div>
            </div>
          </div> -->
          {% endfor %}
        </div>
        <!-- <div class="row no-gutters my-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </section>
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container-fluid px-md-5 px-3">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-4">
              <div style="text-align: center; padding-bottom: 30px">
                <img
                  src="static/images/madhuram-kitchens-logo.png"
                  height="100"
                  width=""
                />
              </div>
              <p>
                Welcome to Madhuram's Kitchen, where flavors come alive! Nestled
                far away, behind the word mountains, we bring you the essence of
                culinary delights. Join us for an unforgettable dining
                experience!
              </p>
              <ul
                class="ftco-footer-social list-unstyled float-md-left float-lft mt-3"
              >
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Open Hours</h2>
              <ul class="list-unstyled open-hours">
                <li class="d-flex">
                  <span>Monday</span><span>9:00 - 24:00</span>
                </li>
                <li class="d-flex">
                  <span>Tuesday</span><span>9:00 - 24:00</span>
                </li>
                <li class="d-flex">
                  <span>Wednesday</span><span>9:00 - 24:00</span>
                </li>
                <li class="d-flex">
                  <span>Thursday</span><span>9:00 - 24:00</span>
                </li>
                <li class="d-flex">
                  <span>Friday</span><span>9:00 - 02:00</span>
                </li>
                <li class="d-flex">
                  <span>Saturday</span><span>9:00 - 02:00</span>
                </li>
                <li class="d-flex">
                  <span>Sunday</span><span> 9:00 - 02:00</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Newsletter</h2>
              <p>
                Far away, behind the word mountains, far from the countries,
                lies a kitchen filled with flavors and delight. Subscribe for
                updates from Madhuram's Kitchen!
              </p>
              <form action="#" class="subscribe-form">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control mb-2 text-center"
                    placeholder="Enter email address"
                  />
                  <input
                    style="background-color: #f57e20 !important"
                    type="submit"
                    value="Subscribe"
                    class="form-control submit px-3"
                  />
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Instagram</h2>
              <div class="thumb d-sm-flex">
                <a
                  href="#"
                  class="thumb-menu img"
                  style="background-image: url(static/images/insta-1.jpg)"
                >
                </a>
                <a
                  href="#"
                  class="thumb-menu img"
                  style="background-image: url(static/images/insta-2.jpg)"
                >
                </a>
                <a
                  href="#"
                  class="thumb-menu img"
                  style="background-image: url(static/images/insta-3.jpg)"
                >
                </a>
              </div>
              <div class="thumb d-flex">
                <a
                  href="#"
                  class="thumb-menu img"
                  style="background-image: url(static/images/insta-4.jpg)"
                >
                </a>
                <a
                  href="#"
                  class="thumb-menu img"
                  style="background-image: url(static/images/insta-5.jpg)"
                >
                </a>
                <a
                  href="#"
                  class="thumb-menu img"
                  style="background-image: url(static/images/insta-6.jpg)"
                >
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved
              <!-- All rights reserved | This template is made with
                <i class="icon-heart" aria-hidden="true"></i> by
                <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
        <circle
          class="path-bg"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke="#eeeeee"
        />
        <circle
          class="path"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke="#F96D00"
        />
      </svg>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
    <script src="{% static 'js/scrollax.min.js' %}"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->
    <!-- <script src="{% static 'js/google-map.js' %}"></script> -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
