<!DOCTYPE html>
<html>
<head>
    <title>Orders Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f0f0f0;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        .view-details {
            cursor: pointer;
            color: blue;
            text-decoration: underline;
        }
    </style>
    <script>
        function toggleDetails(orderId) {
            var detailsRow = document.getElementById('details-' + orderId);
            if (detailsRow.style.display === 'none') {
                detailsRow.style.display = 'table-row';
            } else {
                detailsRow.style.display = 'none';
            }
        }
    </script>
</head>
<body>
    <h1>Orders Table</h1>
    <table>
        <thead>
            <tr>
                <th>OrderId</th>
                <th>Customer Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <!-- <th>Total Price</th> -->
                <th>Order Created At</th>
                <th>View Details</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.first_name }}</td>
                <td>{{ order.user.email }}</td>
                <td>{{ order.user.phone_number }}</td>
                <!-- <td>{{ order.total_price }}</td> -->
                <td>{{ order.created_at }}</td>
                <td class="view-details" onclick="toggleDetails('{{ order.id }}')">View Order Details</td>
            </tr>
            <tr id="details-{{ order.id }}" style="display:none;">
                <td colspan="7">
                    <table>
                        <thead>
                            <tr>
                                <th>Items</th>
                                <th>Quantity</th>
                                <!-- <th>Price</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order.items.all %}
                            <tr>
                                <td>{{ item.menu_item.dish_name }}</td>
                                <td>{{ item.quantity }}</td>
                                <!-- <td>{{ item.menu_item.price }}</td> -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'dashboard' %}">
        <input type="submit" value="Back to Home Page">
    </form>
</body>
</html>
