<!DOCTYPE html>
<html>
<head>
    <title>New Order Placed</title>
</head>
<body>
    <h1>New Order Placed by {{ user.first_name }}</h1>
    <p>User Email: {{ user.email }}</p>
    <p>Phone Number: {{ user.phone_number }}</p>
    <p>Order ID: {{ order.id }}</p>
    <h2>Order Details</h2>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order_items %}
            <tr>
                <td>{{ item.menu_item_dish_name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total Price: ₹ {{ total_price }}</p>
</body>
</html>
