{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Users Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f0f0f0;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <h1>Users Table</h1>
    <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>MobileNumber</th>
                <th>Is Superuser</th>
                <th>Date Joined</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{user.phone_number}}</td>
                <td>{{ user.is_superuser }}</td>
                <td>{{ user.date_joined|date:"d M Y H:i:s" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No users found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'dashboard' %}">
        <input type="submit" value="Back to DashBoard Page">
    </form>
</body>
</html>
